$purple: hsl(295.9, 50.3%, 28.4%);
$yellow: hsl(47.2, 100%, 61.4%);
$cyan: hsl(196.3, 100%, 46.9%);
$red: hsl(354.4, 72.7%, 43.1%);
$gold: hsl(55.4, 32.8%, 53.3%);
$heather: hsl(344.6, 25.2%, 72.7%);
$tr-heather: hsla(344.6, 25.2%, 72.7%, 0.8);
$stone: hsl(46.1, 43.1%, 74.5%);
$sky: hsl(191.2, 31.4%, 73.1%);
$cedar: hsl(12, 9.3%, 68.4%);
$concrete: hsl(110, 8.3%, 71.8%);
$tr-concrete: hsla(110, 8.3%, 71.8%,0.8);
$ink: hsl(201.2, 100%, 12.7%);
$black: hsl(330, 2%, 19.6%);

$primary: $purple;
$background: $stone;
$background2: $heather;

$ui-border-width: 3px;
$ui-transition-duration: 0.2s;
$ui-border-radius: 6px;
$ui-border-colour: $primary;

:root {
    --purple: #{$purple};
    --yellow: #{$yellow};
    --cyan: #{$cyan};
    --red: #{$red};
    --gold: #{$gold};
    --heather: #{$heather};
    --tr-heather: #{$tr-heather};
    --stone: #{$stone};
    --sky: #{$sky};
    --cedar: #{$cedar};
    --concrete: #{$concrete};
    --tr-concrete: #{$tr-concrete};
    --ink: #{$ink};
    --black: #{$black};
    --primary: #{$primary};
    --background: #{$background};
    --background2: #{$background2};
}

body {
    background-color: $background;
    display: flex;
    flex-direction: column;
}

button {
    border-width: $ui-border-width;
    border-style: solid;
    border-color: $purple;
    border-radius: $ui-border-radius;

    padding: 3px 23px;
    background-color: $purple;

    color: white;

    transition-duration: $ui-transition-duration;

    outline: none;
}

button:hover {
    background-color: $background2;
    color: $ink;
}

button:active {
    background-color: $background;
    color: $ink;
}

label {
    color: $ink;
}

footer, h1 {
    display: flex;
    justify-content: center;
    color: $ink;
}

.container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1em;
}

.ui-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background-color: $background2;

    p {
        text-align: center;
        padding: 0 1em;
    }
}

.input {
    margin-top: 1em;
    margin-bottom: 1em;
}

.underline:first-child {
    border-top: $ui-border-width solid $ui-border-colour;
    border-radius: 20px 20px 0 0;
}

.underline:last-child {
    border-radius: 0 0 20px 20px;
}

.underline {
    width: 100%;
    padding-bottom: 1em;
    padding-top: 1em;
    border-bottom: $ui-border-width solid $ui-border-colour;
    border-left: $ui-border-width solid $ui-border-colour;
    border-right: $ui-border-width solid $ui-border-colour;
}

input[type=range] {
    appearance: none;

    height: 3px;
    background-color: $background;

    border-color: $background;
    border-width: $ui-border-width;
    border-style: solid;
    border-radius: $ui-border-radius;

    transition-duration: $ui-transition-duration;

    outline: none;

    margin-top: 1em;
}

input[type=range]:hover{
    background-color: $background2;
}

// input[type=range]:active{
// background-color: $heather;
// }

// =============================================================================
// experimental features

// https://developer.mozilla.org/en-US/docs/Web/CSS/::-webkit-slider-thumb
input[type=range]::-webkit-slider-thumb {
    appearance: none;

    width: 16px;
    height: 16px;
    background-color: $purple;

    border-radius: 50%;
    border-color: $purple;
    border-width: $ui-border-width;
    border-style: solid;

    transition-duration: $ui-transition-duration;
}

// input[type=range]::-webkit-slider-thumb:hover {
//     background-color: white;
// }

// input[type=range]::-webkit-slider-thumb:active {
//     background-color: $heather;
// }

// https://developer.mozilla.org/en-US/docs/Web/CSS/::-moz-range-thumb
input[type=range]::-moz-range-thumb {
    appearance: none;

    width: 16px;
    height: 16px;
    background-color: $purple;

    border-radius: 50%;
    border-color: $purple;
    border-width: $ui-border-width;
    border-style: solid;

    transition-duration: $ui-transition-duration;
}

// these don't work
// input[type=range]::-moz-slider-thumb:hover {
//     background-color: white;
// }

// input[type=range]::-moz-slider-thumb:active {
//     background-color: $heather;
// }

// =============================================================================

#app {
    flex-direction: row;
}

#graphics {
    flex-direction: column;
}

#ui {
    flex-direction: column;
}

#chart {
    margin-top: 1em;
}

#reset {
    background-color: $red;
    color: white;
    border-color: $red;
}

#reset:hover {
    background-color: $background2;
    color: $ink;
}

#reset:active {
    background-color: $background;
    color: $ink;
}

input[type=radio] {
    appearance: none;

    border-radius: 50%;
    width: 16px;
    height: 16px;

    border: $ui-border-width solid $background;
    transition: $ui-transition-duration all linear;
    margin-right: 5px;

    position: relative;
    top: 4px;

    outline: none;
}

input[type=radio]:hover {
    border-color: $primary;
}

input[type=radio]:active {
    background-color: $background;
}

input[type=radio]:checked {
    border: 6px solid $primary;
}
